<!DOCTYPE html>
<html>
<head>
    <title>Newsletter Form</title>
</head>
<body>

    <h1>Newsletter Form</h1>

    <form method="post">
        {% csrf_token %}

        <p>
            <label>Title:</label><br>
            {{ form.title }}
        </p>

        <p>
            <label>Content:</label><br>
            {{ form.content }}
        </p>

        <p>
            <label>Articles:</label><br>
            {{ form.articles }}
        </p>

        <button type="submit">Save</button>
    </form>

</body>
</html>